<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="index.html">Home</a></li>
  <li><a href="ProfileConsumers.html">Profile Consumers</a></li>
  <li><a href="TechnicalImplementationGuidance.html">Implementation Guidance</a></li>
  <li><a href="artifacts.html">Artifacts</a></li>
  <li><a href="appendix.html">Appendix</a></li>
  <li><a href="changes.html">Changes</a></li>
  <li><a href="{{site.data.fhir.path}}index.html">FHIR Specification</a></li>
</ul>      
